ingress:
enabled: true
className: nginx
annotations:
nginx.ingress.kubernetes.io/use-regex: "true"
nginx.ingress.kubernetes.io/rewrite-target: "/$2"
apiPath: "/api(/|$)(.*)"
apiPathType: ImplementationSpecific
