apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "runner.fullname" . }}-frontend-nginx
  namespace: {{ .Values.namespace }}
data:
  default.conf: |
    server {
      listen 80;
      server_name _;
      client_max_body_size 20m;

      location /api/ {
        proxy_pass http://{{ include "runner.fullname" . }}-backend.{{ .Values.namespace }}.svc.cluster.local/;
        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
      }

      location / {
        root /usr/share/nginx/html;
        try_files $uri /index.html;
      }
    }
