apiVersion: apps/v1
kind: Deployment
metadata:
  name: runner-backend
  labels:
    app: runner-backend
spec:
  replicas: {{ .Values.replicaCount.backend | default 2 }}
  selector:
    matchLabels:
      app: runner-backend
  template:
    metadata:
      labels:
        app: runner-backend
    spec:
      containers:
        - name: backend
          image: "{{ .Values.image.backend.repository }}:{{ .Values.image.backend.tag }}"
          imagePullPolicy: {{ .Values.image.backend.pullPolicy }}
          ports:
            - containerPort: {{ .Values.backend.port }}
          env:
            - name: DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: runner-backend-secret
                  key: DATABASE_URL
          resources:
            requests:
              cpu: "100m"
              memory: "256Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"