backend:
  replicaCount: 1
  image:
    repository: runneracrdev.azurecr.io/runner-backend
    tag: latest
  port: 8000

  env:
    databaseUrl: "postgresql://postgres:postgres@runner-postgres-postgresql.runner.svc.cluster.local:5432/runner"
    runMigrations: true

  probes:
    healthPath: /api/health

  resources:
    requests:
      cpu: "100m"
      memory: "128Mi"
    limits:
      cpu: "500m"
      memory: "512Mi"
    
frontend:
  replicaCount: 1
  image:
    repository: runneracrdev.azurecr.io/runner-frontend
    tag: latest
  port: 80

service:
  type: ClusterIP

ingress:
  enabled: true
  className: nginx
  host: runner.local
  pathPrefixApi: /api(/|$)(.*)
  pathPrefixWeb: /</file>